.home_users_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

[data-theme='dark'] {
  .custom_pagination .ant-pagination-item.ant-pagination-item-active a {
    color: black;
  }
}
