@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  display: flex;
  font-family: 'Signika Negative', sans-serif;
}

main {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 50px;
}

:root {
  --background-color: #ffffff;
  --foreground-color: #eeeeee;
  --hover-color: #e0e0e0;
  --primary-text-color: #000000;
  --secondary-text-color: #8e8e8e;
  --border-color: #dbdbdb;

  --submit-button-color: #1677ff;

  --red-color: #d32f2f;
  --green-color: #228b22;
}

[data-theme='dark'] {
  --background-color: #1a1a1a;
  --foreground-color: #2b2b2b;
  --hover-color: #262626;
  --primary-text-color: #ffffff;
  --secondary-text-color: #a8a8a8;
  --border-color: #262626;

  --red-color: #e57373;
  --green-color: #98fb98;
}

/*  antd start */

/* Delete icon for uploaded image */
.ant-upload-list-picture .ant-upload-list-item-actions .anticon-delete {
  color: var(--red-color) !important;
  transform: scale(1.5);
}

/* Delete icon on hover */
.ant-upload-list-picture .ant-upload-list-item-actions .anticon-delete:hover {
  transform: scale(1.7);
}

/* Image item container */
.ant-upload-list-picture .ant-upload-list-item {
  background-color: var(--background-color) !important;
  border: 1px solid var(--foreground-color) !important;
}

/* Image item container on hover */
.ant-upload-list-picture .ant-upload-list-item:hover {
  border-color: var(--secondary-text-color) !important;
}

/* Drag & drop upload area border */
.ant-upload.ant-upload-drag {
  background-color: var(--background-color);
  border: 2px solid var(--foreground-color);
}

/* Drag & drop area border on hover */
.ant-upload.ant-upload-drag:hover {
  border-color: var(--secondary-text-color) !important; /* Example: #40a9ff */
}

/* Drag & drop area border on drag over */
.ant-upload.ant-upload-drag.ant-upload-drag-hover {
  border-color: var(--primary-text-color) !important; /* Example: green */
}

/* Cursor style when hovering over image thumbnail */
.ant-upload-list-item-thumbnail {
  cursor: default !important;
}

/* Pagination container */
.custom_pagination {
  display: inline-block;
}

/* Default pagination item style */
.custom_pagination .ant-pagination-item {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s ease;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
}

/* Active pagination item */
.custom_pagination .ant-pagination-item.ant-pagination-item-active {
  background-color: var(--submit-button-color) !important;
  border-color: var(--submit-button-color) !important;
}

/* Text color for active pagination item */
.custom_pagination .ant-pagination-item.ant-pagination-item-active a {
  color: #ffffff;
}

/* Hover effect for pagination items */
.custom_pagination .ant-pagination-item:hover {
  border-color: var(--secondary-text-color);
}

/* Arrow container (prev/next buttons) */
.custom_pagination .ant-pagination-prev,
.custom_pagination .ant-pagination-next {
  border-radius: 8px;
}

/* Hover effect for arrow container */
.custom_pagination .ant-pagination-prev:hover,
.custom_pagination .ant-pagination-next:hover {
  background-color: var(--foreground-color);
  border-color: var(--foreground-color);
}

/* Default arrow icon color */
.custom_pagination .ant-pagination-prev .anticon,
.custom_pagination .ant-pagination-next .anticon {
  color: var(--primary-text-color);
  transition: color 0.3s ease;
}

/* Arrow icon color on hover */
.custom_pagination .ant-pagination-prev:hover .anticon,
.custom_pagination .ant-pagination-next:hover .anticon {
  color: var(--secondary-text-color);
}

/* Disabled arrow icon color */
.custom_pagination .ant-pagination-prev.ant-pagination-disabled .anticon,
.custom_pagination .ant-pagination-next.ant-pagination-disabled .anticon {
  color: gray !important;
}

/*  antd end */

@media screen and (max-width: 500px) {
  main {
    padding: 100px 30px;
  }
}
